# sqlite3

sqlite3 provides a lightweight disk-based database, it is easy to store and access data using the query language which is very nicely integrated in python using sqlite3

- The database file created by sqlite3 has extension ".db".

####  sqlite3 comes default with python 3

In [3]:
import sqlite3

- To use any database you must connect a variable with the database file.
- Similar to using file handling, if the connection file does not exist in the current working directory, sqlite3 creates it     for you.

In [4]:
connection = sqlite3.connect('database.db')

In [6]:
type(connection)

sqlite3.Connection

- Once the connection is made, you need a cursor object in the database so you can access the data and call execute on the sql commands for executions

In [7]:
c = connection.cursor()

### Table Creation
###### Variable Types in sqlite3
- String  "text"
- Integer "integer"
- Float   "real"
- Null    "Null"

In [9]:
c.execute('''Create Table Student
             (Name text,Roll_Number integer,Math integer,Science integer,History integer,average real,Grades text)''')

##### Inserting rows of data

In [15]:
c.execute("Insert into Student values('Ross',1,90,87,99,92.0,'A+')")

- This line created an execution for us but now we need to go with the execution.
- use commit() to save changes to our database, use commit with our connection variable and not with the cursor.

In [16]:
connection.commit()

- Close the connection we have made if we are done with the database file, not closing the connection may lead to file    corruption.

In [17]:
connection.close()

### Read from the database

In [24]:
connection = sqlite3.connect('database.db')
c = connection.cursor()

###### let's print the row where student name is Ross

In [28]:
name = ('Ross',)

In [29]:
c.execute('SELECT * FROM Student WHERE name=?', name)

- You need to fetch the data after the execution

In [30]:
row = c.fetchone()

#### perform multiple executions

In [35]:
students = [('Rachel',2,88,85,97,90.0,'A+'),
            ('Monica',3,87,84,95,88.66,'A+')]

In [39]:
c.executemany('INSERT INTO Student VALUES (?,?,?,?,?,?,?)', students)

In [40]:
connection.commit()

In [42]:
name = ('Monica',)

In [43]:
c.execute('SELECT * FROM Student WHERE name=?', name)

In [44]:
row = c.fetchone()

In [45]:
row

('Monica', 3, 87, 84, 95, 88.66, 'A+')

#### Iterator Form

In [46]:
for row in c.execute('SELECT * FROM Student ORDER BY average'):
    print(row)

('Monica', 3, 87, 84, 95, 88.66, 'A+')
('Rachel', 2, 88, 85, 97, 90.0, 'A+')
('Ross', 1, 90, 87, 99, 92.0, 'A+')

#### Fetchall method
- fetchall() gives you a list of tuples

In [47]:
c.execute('SELECT * FROM Student ORDER BY average')

In [48]:
rows = c.fetchall()

In [49]:
rows

[('Monica', 3, 87, 84, 95, 88.66, 'A+'),
 ('Rachel', 2, 88, 85, 97, 90.0, 'A+'),
 ('Ross', 1, 90, 87, 99, 92.0, 'A+')]

#### Update Operation

In [50]:
c.execute("UPDATE Student SET Grades ='B+' where Name = 'Monica'")

In [54]:
connection.commit()

#### Deletion Operation

In [56]:
c.execute("DELETE from Student where Name = 'Rachel'")

In [61]:
for row in c.execute('SELECT * FROM Student ORDER BY Roll_Number'):
    print(row)

('Ross', 1, 90, 87, 99, 92.0, 'A+')
('Monica', 3, 87, 84, 95, 88.66, 'B+')

In [62]:
connection.close()